.user-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 90%;
    padding: 20px;
}

.user-card {
    width: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}