.App {
    font-family: sans-serif;
}

.folder {
    margin-top: 6px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    width: 300px;
    cursor: pointer;
}

.file {
    display: flex;
    flex-direction: column;
}

.folder button {
    cursor: pointer;
}